@model Person
<div class="container d-flex justify-content-center align-items-center flex-column">



	
<form method="post" asp-action="Reverse" class=" col-12 col-md-6 shadow-lg rounded-3 col-4 p-5 mt-5 ">

  
        <h3 class="text-center text-primary mb-4">Reverse</h3>
	
        <div class="row g-3 d-flex flex-sm-column flex-md-row ">
              <div class="col-10 col-sm-12">
                <input type="text" class="form-control" asp-for=Name placeholder="Name" >
              </div>
              
         </div>

    <div>
        <input type="submit" value="Reverse" class="btn btn-primary mt-3" />
     </div>

   

</form>


        <div class="col-10 col-md-6 shadow-lg rounded-3 col-5 p-5 mt-5 ">
        
                 <h3 class="text-center text-dark"> @ViewBag.reversename </h3>
        
        </div>
  </div>





